Query all columns for a city in CITY with the ID 1661.

The CITY table is described as follows:

### select * from city where ID = 1661;